<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>DK UNI APP</title>
    <meta name="description" content="Simplified Bootstrap template with sticky menu">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/sticky-menu.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
     <!-- jQuery -->
     <script src="javascripts/jquery.js"></script>

     <!-- Bootstrap Core JavaScript -->
     <script src="javascripts/bootstrap.min.js"></script>
 
     <!-- Scrolling Nav JavaScript -->
     <script src="javascripts/jquery.easing.min.js"></script>
     <script src="javascripts/sticky-menu.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-top">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/images/dk-uni-logo.png" class="navbar-brand page-scroll"> 
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#welcome"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#noegletal">NØGLETAL</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#kontakt">KONTAKT</a>
                    </li>
                </ul>
            </div>	<!-- .navbar-collapse -->
        </div>		<!-- .container -->
    </nav>
    <!-- Welcome   -->
    <section id="welcome" class="welcome-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Universiteternes Statistiske Beredskab</h1>
                    <p>Danske Universiteter offentliggør hvert år nøgletal for sektiorens aktiviteter i Universiteters Statistiske Beredskab. </p>
                    <p> Studienøgletallene (tabel F,G og H) offentliggøres i marts måned og omfatter oplysninger vedr. aktivitet, gennemførelse og internationalisering. De øvrige nøgletal (tabel A-E, I og K) offentliggøres i juli måned og omfatter bl.a. oplysninger vedr. økonomi, personale og ph.d.-aktivitet.</p>
                    <p>Se nøgletallene her: <a href="https://dkuni.dk/tal-og-fakta/beredskab/">https://dkuni.dk/tal-og-fakta/beredskab/</a></p>
					<p>&nbsp;</p>
                    <a class="btn btn-primary page-scroll" href="#kontakt">Click To Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- What we do Section -->
    <section id="noegletal" class="noegletal-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>NØGLETAL</h1>
                    <div class="empty"></div>
                    <div class="select-custom">
                    <select name="choiceOfGraphs" id="choiceOfGraphs">
                        <optgroup label="F. Studieaktivitet">
                          <option value="Optag">Optag, BA</option>
                          <option value="Optag">Optag, KA</option>
                          <option value="Optag">Produktion, BA</option>
                          <option value="Ophoer">Produktion, KA</option>
                          <option value="Produktion">Ophør, BA </option>
                          <option value="Produktion">Ophør, BA </option>
                        </optgroup>
                        <optgroup label="I. Forskeruddannelse">
                          <option value="">Nyindskrevne</option>
                          <option value="audi">Tildelte grader</option>
                        </optgroup>
                      </select>
                    </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="kontakt" class="kontakt-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>KONTAKT</h1>
                    <p>
                        Denne webapp er lavet i et samarbejde mellem interesseorganisationen Danske Universiteter og Syddansk Universitets analyseenhed, SDU Analytics. 
                    </p>
                    <p>For yderligere information, se: </p>
                    <p>Danske Universiteter:</p>
                    <p>https://dkuni.dk/</p>
                </div>
            </div>
        </div>
    </section>
	
	<a id="back2Top" title="Back to top" href="#">&#10148;</a>
<!--this template but please leave a reference to <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a>. Thank You!-->
</body>

</html>
