.header{
  text-align: center;
}

.empty{
  padding-top: 10%;
}

select {
 /*A reset of styles, including removing the default dropdown arrow*/
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /*Stack above custom arrow*/
  z-index: 1;
}

#choiceOfGraphs {
  align-items: center;
  position: relative;

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  line-height: 1.1;

  /* Optional styles
  remove for transparency */
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);   
}
