.header{
  text-align: center;
}

.empty{
  padding: 1%;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  z-index: 1;
}

#choiceOfGraphs {
  align-items: center;
  position: relative;

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: 30px;

    background-color:  #f1f7f7;
  
}

p {
  text-align: left;
}

.headings {
  margin: 2%;
  margin-bottom: 1%;
}

#myDiv {
  margin-top: 2%;
  height: 200px;
  width: 300px;
  border:0; 
  text-decoration:none; 
  outline:none;
  background: none;
  align-content: center;
}
#myDiv {
  margin-top: 3%;
  width: 100%;
}

.user-select-none .svg-container {
  position: static;
}


.img-direktor{

  width: 20%;
  height: 20%;
  align-content: left;
}

.space-bt-text{
  padding: 2%;
}

#pHovedfag {
  align-content: center;
  margin-bottom: 5%;
}

#radioButtons {

  margin-bottom: 5%;

}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 140px;
  text-align: left;
}

.end-div{

  margin-bottom: 25px;
}