.header{
  text-align: center;
}

.empty{
  padding: 1%;
}

select {
 /*A reset of styles, including removing the default dropdown arrow*/
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  /*Stack above custom arrow*/
  z-index: 1;
}

#choiceOfGraphs {
  align-items: center;
  position: relative;

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid; /*var(--select-border);*/
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  line-height: 1.1;

  /* Optional styles
  remove for transparency */
    background-color:  #f1f7f7;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%);    */
}

p {
  text-align: left;
}

.headings {
  margin: 2%;
  margin-bottom: 3%;
}

#graph, #myDiv {
  margin-top: 2%;
  height: 500px;
  width: 300px;
  border:0; 
  text-decoration:none; 
  outline:none;
  background: none;
  align-content: center;
}
#myDiv {
  margin-top: 3%;
  margin-left: -4%;
  width: 100%;
}

.user-select-none .svg-container {
  position: static;
}


.img-direktor{

  width: 20%;
  height: 20%;
  align-content: left;
}

.space-bt-text{
  padding: 2%;
}
